on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

  permissions:
    contents: read
    pages: write
    id-token: write

jobs:
  generate:
    name: Generate repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          check-latest: true
      - name: Run generator
        run: node index.js
      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git fetch origin main
          git checkout main
          git add repo.json
          git diff --cached --quiet && exit 0
          git commit -m "Update repository"
      - uses: actions/configure-pages@v5
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4